In [10]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.impute import KNNImputer

In [3]:
#read data
data = pd.read_csv('./Data/train_data.csv')

In [4]:
data.head()

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0003HW9UAA,51.0,NaN,87300.0,358,13,3.0,18.10,12,0.85,Bachelor's,Part-time,NaN,No,NO,Other,True,0
1,000ELHLBPV,37.0,81658.0,152598.0,792,23,4.0,14.06,24,0.86,PhD,Self-employed,NaN,Yes,No,Auto,False,1
2,000G6CHJON,NaN,NaN,77767.0,359,57,4.0,4.31,60,0.60,Master's,Unemployed,Married,No,No,Education,True,0
3,000K09D0JB,54.0,42344.0,13261.0,366,115,1.0,NaN,60,0.21,PhD,Part-time,Divorced,No,No,Education,True,0
4,000NTH4YTU,63.0,48898.0,193990.0,792,53,4.0,5.65,48,0.82,Master's,Self-employed,Married,Yes,No,Business,True,0

In [5]:
#check for missing values
data.isnull().sum()

Investor_ID                           0
Age                               32840
Annual_Income                     22626
Investment_Amount                 18033
Risk_Tolerance_Score                  0
Months_of_Investing_Experience        0
Number_of_Active_Investments       4512
Potential_Return_Rate             11244
Investment_Duration                   0
Investment_to_Income_Ratio            0
Education                             0
Employment_Status                     0
Marital_Status                    42906
Owns_Property                         0
Has_Dependents                        0
Investment_Sector                     0
Has_Investment_Advisor             3849
Investment_Failed                     0
dtype: int64

In [6]:
#change rows according to ascending order of Age
data = data.sort_values(by='Age')

In [7]:
data.head()

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
159557,PJCXW642UT,18.0,50258.0,196480.0,331,78,4.0,5.91,12,0.58,Master's,Retired,Divorced,No,NO,Auto,False,0
80464,CVGUUO8US9,18.0,31339.0,158693.0,761,6,4.0,11.50,12,0.13,PhD,Full-time,Divorced,No,no,Education,False,1
46437,7FVSO1DRN8,18.0,139073.0,225987.0,723,33,3.0,9.00,12,0.26,Master's,Self-employed,Single,Yes,Yes,Education,True,1
46456,7FYRXX1JD9,18.0,16251.0,27362.0,422,38,1.0,22.78,48,0.56,PhD,Unemployed,Divorced,Yes,Yes,Other,False,0
46474,7G3IS62S9I,18.0,30428.0,NaN,785,32,1.0,9.87,24,0.55,PhD,Part-time,Single,YES,yes,Home,True,0

In [8]:
#drop investor ID column
data = data.drop('Investor_ID', axis=1)

In [9]:
data.head()

,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
159557,18.0,50258.0,196480.0,331,78,4.0,5.91,12,0.58,Master's,Retired,Divorced,No,NO,Auto,False,0
80464,18.0,31339.0,158693.0,761,6,4.0,11.50,12,0.13,PhD,Full-time,Divorced,No,no,Education,False,1
46437,18.0,139073.0,225987.0,723,33,3.0,9.00,12,0.26,Master's,Self-employed,Single,Yes,Yes,Education,True,1
46456,18.0,16251.0,27362.0,422,38,1.0,22.78,48,0.56,PhD,Unemployed,Divorced,Yes,Yes,Other,False,0
46474,18.0,30428.0,NaN,785,32,1.0,9.87,24,0.55,PhD,Part-time,Single,YES,yes,Home,True,0

In [16]:
#Convert has invested column to 0 and 1
data['Has_Investment_Advisor'] = data['Has_Investment_Advisor'].map({False:0, True:1})

In [19]:
#unique values in marital status
data['Marital_Status'].unique()

array(['Divorced', 'Single', 'Div', 'Sgl', nan, 'Married', 'Marr'],
      dtype=object)

In [ ]:
#label encode marital_status column
data['Marital_Status'] = data['Marital_Status'].map({'Married':0, 'Single':1, 'Divorced':2, 'Widowed':3})

In [17]:
#columns with missing values
missing_cols = data.columns[data.isnull().any()]
missing_cols

Index(['Age', 'Annual_Income', 'Investment_Amount',
       'Number_of_Active_Investments', 'Potential_Return_Rate',
       'Marital_Status', 'Has_Investment_Advisor'],
      dtype='object')

In [18]:
imputer = KNNImputer(n_neighbors=3)

In [20]:
#using imputer to fill

ValueError: could not convert string to float: 'Divorced'